/*
// also good: "fa-solid fa-user"
logo pink:
// #e63a6a
dark blue:
// #00798a
light blue:
// #008fa3
dark red:
// #610c24
dark grey:
// #212121
light grey:
// #e6e6e6
*/

#footer {
    background-color: #212121;
    margin-top: 200px;
    padding: 0px 70px;
}

#create-group-box {
    padding: 27px 0px;
    margin-bottom: 3px;
    border-bottom: .4px solid #afafaf;
}

#create-group-text {
    color: #F6F7F8;
    font-weight: 600;
    font-size: 16px;
}

.footer-get-started-btn button {
    color: #FFFFFF;
    background-color: #212121;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    margin-left: 17px;
    padding: 9px 12px 9px 12px;
    font-size: 16px;
    font-weight: 600;
}

.footer-get-started-btn button:hover {
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    margin-left: 17px;
    padding: 9px 12px 9px 12px;
    font-size: 16px;
    cursor: pointer;
}

#footer-links-box {
    padding: 25px 0px 25px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-signup-login-btn button {
    color: #C5C4C4;
    font-size: 14px;
    font-weight: 200;
    background-color: #212121;
    margin-top: 10px;
    padding: 0;
    border: none;
    cursor: pointer;
}

.footer-signup-login-btn button:hover {
    color: #FFFFFF;
}

.footer-links-col-header {
    color: #F6F7F8;
    font-size: 15.5px;
}




.footer-link {
    color: #C5C4C4;
    font-size: 14px;
    margin-top: 10px;
    font-weight: 200;
}

.footer-link:hover {
    color: #FFFFFF;
    cursor: pointer;
}




.footer-link-box {
    margin-top: 10px;
}

.footer-link-text {
    color: #C5C4C4;
    font-size: 14px;
    font-weight: 200;
}

.footer-link-text:hover {
    color: #FFFFFF;
    cursor: pointer;
}

#footer-dev-name-and-links {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 14px;
}

#footer-dev-name {
    color: #C5C4C4;
    font-size: 19.55px;
    font-weight: 100;
    transition: color .7s;
}

#footer-dev-name:hover {
    color: #FFFFFF;
}

#footer-dev-name-and-links i {
    color: #C5C4C4;
    font-size: 24.5px;
    transition: color .7s;
}

#github-icon {
    border-radius: 50px;
}

#footer-dev-name-and-links i:hover {
    color: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
}

#copyright-and-tech-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 30px 0px 40px 0px;
    font-size: 13px;
}

#footer-dev-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}


#footer-tech {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 5px;
}

.footer-copyright-and-tech {
    color: #C5C4C4;
    font-size: 13px;
    font-weight: 200;
    padding: 0em 1.9em 0em 0em;
}

.copyright-terms-link {
    color: #C5C4C4;
    font-size: 13px;
    font-weight: 200;
    padding: 0em 1.9em 0em 0em;
}

.copyright-terms-link:hover {
    color: #FFFFFF;
    cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {}
