#nav-sign-up-button {
    color: white;
    font-size: 17px;
    background-color: #087c8c;
    border: none;

    padding: 10px 16px;
    border-radius: .5em;

    font-size: 14.5px;
    font-weight: 400;
}

#nav-sign-up-button:hover {
    background-color: #098b9d;
    cursor: pointer;
}
