.hidden {
    display: none
}

#dropdown-user-button {
    color: white;
    font-size: 17px;
    background-color: #087c8c;
    border: none;

    margin-right: 10px;
    padding: 10px 16px;
    border-radius: .5em;

    font-size: 14.5px;
    font-weight: 400;
}

#dropdown-user-button:hover {
    background-color: #098b9d;
    cursor: pointer;
}

#dropdown-user-hello {
    color: #e8245c;
    font-size: 14px;
    font-weight: 500;
}

.dropdown-user-info {
    font-size: 14px;
    font-weight: 200;
}

#dropdown-log-out-button {
    color: rgb(63, 63, 63);
    font-size: 17px;
    background-color: #FFFFFF;
    border: 1px solid rgb(135, 135, 135);

    margin-top: 2px;
    padding: 1.5px 4px;
    border-radius: .5em;

    font-size: 14px;
    font-weight: 400;
}

#dropdown-log-out-button:hover {
    color: #087c8c;
    cursor: pointer;
}

nav {
    margin: 18px 0px 18px 10px;

    /* padding: .3em 0em 1em 0em;
    border-bottom: 1px solid rgb(97, 97, 97);
    margin-bottom: 2.5em; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo {
    color: #e8245c;
    text-decoration: none;
    font-family: 'Gochi Hand', cursive;
    /* font-family: 'Itim', cursive; */
    /* font-family: 'Leckerli One', cursive; */
    font-size: 1.7em;
    letter-spacing: .025em;
    line-height: .79em;
}

/* .nav-button {
    margin-right: 10px;
} */

/* #nav-language-button {
    color: rgb(63, 63, 63);
    font-size: 17px;
    background-color: #FFFFFF;
    border: none;

    padding: 10px 0px;
    border-radius: .5em;

    font-size: 14.5px;
    font-weight: 400;
}

#nav-language-button:hover {
    cursor: pointer;
} */


#nav-log-out-button {
    color: rgb(63, 63, 63);
    font-size: 17px;
    background-color: #FFFFFF;
    border: none;

    padding: 10px 15px;
    border-radius: .5em;

    font-size: 14.5px;
    font-weight: 400;
}

#nav-log-out-button:hover {
    color: #087c8c;
    cursor: pointer;
}



#nav-logo:link {
    text-decoration: none;
}

#nav-logo:visited {
    text-decoration: none;
}

#nav-logo:hover {
    text-decoration: none;
}

#nav-logo:active {
    text-decoration: none;
}
