.hidden {
    display: none
}

#dropdown-user-button {
    color: white;
    font-size: 17px;
    background-color: #087c8c;
    border: none;

    margin-right: 10px;
    padding: 10px 16px;
    border-radius: .5em;

    font-size: 14.5px;
    font-weight: 400;
}

#dropdown-user-button:hover {
    background-color: #098b9d;
    cursor: pointer;
}

/* was e8245c */
#dropdown-user-hello {
    color: rgb(63, 63, 63);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.dropdown-user-info {
    color: rgb(63, 63, 63);
    padding-left: 6px;
    font-size: 14px;
    font-weight: 200;
}

.dropdown-button {
    color: #FFFFFF;
    background-color: #087c8c;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    padding: 6px 9px;
    font-size: 12px;
    font-weight: 600;
}

.dropdown-button:hover {
    color: #FFFFFF;
    background-color: #098b9d;
    cursor: pointer;
}

#zdropdown-button {
    color: rgb(63, 63, 63);
    font-size: 17px;
    background-color: #FFFFFF;
    border: 1px solid rgb(135, 135, 135);

    margin-top: 2px;
    padding: 1.5px 4px;
    border-radius: .5em;

    font-size: 14px;
    font-weight: 400;
}

#zdropdown-button:hover {
    color: #087c8c;
    cursor: pointer;
}

nav {
    margin: 18px 0px 18px 10px;

    /* padding: .3em 0em 1em 0em;
    border-bottom: 1px solid rgb(97, 97, 97);
    margin-bottom: 2.5em; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo {
    color: #e8245c;
    text-decoration: none;
    font-family: 'Gochi Hand', cursive;
    /* font-family: 'Itim', cursive; */
    /* font-family: 'Leckerli One', cursive; */
    font-size: 2em;
    letter-spacing: .01em;
}

/* .nav-button {
    margin-right: 10px;
} */

/* #nav-language-button {
    color: rgb(63, 63, 63);
    font-size: 17px;
    background-color: #FFFFFF;
    border: none;

    padding: 10px 0px;
    border-radius: .5em;

    font-size: 14.5px;
    font-weight: 400;
}

#nav-language-button:hover {
    cursor: pointer;
} */

.nav-grey-link {
    color: rgb(63, 63, 63);
    font-size: 17px;
    background-color: #FFFFFF;
    border: none;

    padding: 10px 16px;
    border-radius: .5em;

    font-size: 14.5px;
    font-weight: 400;
}

.nav-grey-link:hover {
    color: #087c8c;
    cursor: pointer;
}

.nav-grey-link-inactive {
    color: rgb(63, 63, 63);
    font-size: 17px;
    background-color: #FFFFFF;
    border: none;

    padding: 10px 16px;
    border-radius: .5em;

    font-size: 14.5px;
    font-weight: 400;
}

.nav-grey-link-inactive:hover {
    cursor: normal;
}

#nav-log-out-button {
    color: rgb(63, 63, 63);
    font-size: 17px;
    background-color: #FFFFFF;
    border: none;

    padding: 10px 15px;
    border-radius: .5em;

    font-size: 14.5px;
    font-weight: 400;
    text-decoration: none;
}

#nav-log-out-button:hover {
    color: #087c8c;
    cursor: pointer;
}



#nav-logo:link {
    text-decoration: none;
}

#nav-logo:visited {
    text-decoration: none;
}

#nav-logo:hover {
    text-decoration: none;
}

#nav-logo:active {
    text-decoration: none;
}



.dropdown-box {
    position: relative;
}

.profile-dropdown {
    position: absolute;
    /* top: 67px; */
    top: 56px;
    right: 18px;
    height: 170px;
    width: 220px;
    padding: 20px 20px 35px 20px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #707070;
}

.zprofile-dropdown {
    position: absolute;
    color: white;
    /* top: 67px; */
    top: 39px;
    right: 18px;
    height: 200px;
    width: 250px;
    background-color: #087c8c;
    padding-top: 30px;
    border-radius: 10px;
    border: 1px solid #087c8c;
}
